<div class="carrousel">
    <ul class="sld" [style.width]="sliderc" [style.animation]="animation">
        <li *ngFor="let img of imag" [style.width]="sliderl">

            <div class="slider" [style.background-image]="img"></div>
        </li>
    </ul>

</div>